.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    padding: 1% 5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 0.5px solid rgba(233, 236, 239, 0.3);
}
.title{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
}
.navbar{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.navitem{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.github{
    background-color: #516BAA;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


